# {{ ansible_managed }}
#DRIVE1 /dev/sda
#DRIVE2 /dev/sdb
#DRIVE3 /dev/sdc
#DRIVE4 /dev/sdd

BOOTLOADER grub

HOSTNAME skuska

PART swap swap 64G
PART /boot ext3 1G
PART lvm vg 300G

LV vg root / ext4 100G
LV vg var /var ext4 100G

IMAGE /root/.oldroot/nfs/images/Debian-1101-bullseye-amd64-base.tar.gz